@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Merriweather:wght@700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #698a8c;
    color: #333;
    padding: 10px;
    text-align: center;
}

.header h1 {
    font-family: 'Merriweather', serif;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    color: #fff;
}

.controls {
    background-color: #fff;
    padding: 10px;
    border-bottom: 2px solid #ddd;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.controls label {
    margin-right: 5px;
    font-weight: bold;
}

.controls input[type="date"] {
    padding: 5px;
    font-size: 14px;
}

.controls button {
    background-color: #486565;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.controls button:hover {
    background-color: #57745d;
}

.tabs {
    display: flex;
    justify-content: center;
    background-color: #698a8c;
    padding: 10px 0;
    margin-bottom: 20px;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
}

.tab {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.tab:hover {
    background-color: #8f9184;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.account-container, .category-container, .movements-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.account-card, .category-card, .movement-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    text-align: center;
}

.account-card h3, .category-card h3 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
    font-weight: 500;
}

.balance {
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
    margin: 10px 0;
}

.balance.negative {
    color: #f44336;
}

.actions {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 10px;
}

.actions a {
    text-decoration: none;
    color: #486565;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 0;
    background-color: #ddd;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.actions a:hover {
    color: #fff;
    background-color: #486565;
}

/* Estilos para las tarjetas de categorías */
.category-card .balance {
    font-size: 20px;
    color: #333;
}

/* Estilos para los movimientos */
.movement-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.movement-card .movement-details {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.movement-card .movement-details .date {
    font-size: 14px;
    color: #666;
}

.movement-card .movement-details .description {
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.movement-card .amount {
    font-size: 18px;
    font-weight: bold;
}

.movement-card .amount.negative {
    color: #f44336;
}

.movement-card .amount.positive {
    color: #4CAF50;
}
