@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Merriweather:wght@700&display=swap');

body {
    font-family: 'Roboto', sans-serif; /* Fuente principal */
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #698a8c; /* Primer color */
    color: #fff;
    padding: 10px;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header h1 {
    font-family: 'Merriweather', serif;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

.controls {
    background-color: #fff;
    padding: 10px;
    border-bottom: 2px solid #ddd;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 60px; /* Para evitar que el contenido quede oculto detrás del header fijo */
}

.controls label {
    margin-right: 5px;
    font-weight: bold;
}

.controls input[type="date"] {
    padding: 5px;
    font-size: 14px;
}

.controls button {
    background-color: #486565; /* Segundo color */
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box; /* Asegura que el padding esté incluido en el tamaño total */
    transition: box-shadow 0.3s, background-color 0.3s; /* Añadir transición para suavizar el cambio */
}

.controls button:hover {
    background-color: #57745d; /* Tercer color */
}

.tabs {
    display: flex;
    justify-content: center;
    background-color: #698a8c; /* Primer color */
    padding: 10px 0;
    margin: 20px 0;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
}

.tab {
    color: #fff; 
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.tab:hover {
    background-color: #8f9184;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.account-container, .category-container, .movements-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.account-card, .category-card, .movement-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    text-align: center;
}

.account-card h3, .category-card h3 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
    font-weight: 500;
}

.balance {
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
    margin: 10px 0;
}

.balance.negative {
    color: #f44336;
}

.actions {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.actions a {
    text-decoration: none;
    color: #486565; /* Segundo color */
    font-weight: bold;
    font-size: 12px;
}

.actions a:hover {
    color: #fff;
    background-color: #486565; /* Segundo color */
    border-radius: 5px;
}

/* Estilos para los movimientos */
.movement-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 10px;
}

.movement-card.Transferencia {
    border-left: 5px solid #8e8e8e;
}

.movement-details {
    margin-bottom: 10px;
}

.date {
    display: block;
    font-weight: bold;
}

.description {
    font-size: 14px;
}

.amount {
    font-size: 18px;
    font-weight: bold;
}

.amount.positive {
    color: #4CAF50;
}

.amount.negative {
    color: #f44336;
}

.movement-type {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

.details {
    font-size: 12px;
    color: #666;
}

.container .category-container .actions a {
    text-decoration: none;
    color: #486565; /* Segundo color */
    font-weight: bold;
    font-size: 12px;
}

.container .category-container .actions a:hover {
    color: #fff;
    background-color: #486565; /* Segundo color */
    border-radius: 5px;
}

.container .movements-container .actions a {
    text-decoration: none;
    color: #486565; /* Segundo color */
    font-weight: bold;
    font-size: 12px;
}

.container .movements-container .actions a:hover {
    color: #fff;
    background-color: #486565; /* Segundo color */
    border-radius: 5px;
}