@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Merriweather:wght@700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    background-color: #698a8c; /* Primer color */
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header h1 {
    font-family: 'Merriweather', serif;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

.movimientos {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.movimiento {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.movimiento p {
    margin: 0 0 10px;
    color: #333;
    font-size: 16px;
}

.movimiento strong {
    font-weight: 700;
}

.details {
    display: block;
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

p {
    color: #666;
    font-size: 14px;
}
